{% extends 'eduPlatform/base.html' %}

{% load static %}

{% block links %}
<link rel="stylesheet" href="{% static 'eduPlatform/css/index.css' %}">
<link rel="stylesheet" href="{% static 'eduPlatform/css/courseCardSlider.css' %}">
{% endblock %}

{% block body %}

<!-- carousel section -->
<section id="carouselSection">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'eduPlatform/images/homeBanner1.jpeg' %}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{% static 'eduPlatform/images/homeCrImg2.jpeg' %}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{% static 'eduPlatform/images/homeCrImg03.jpg' %}" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>
<!-- Search bar -->
<div id="searchCourses" class="d-none d-md-block">
    <form action="" method="POST" class="input-group">
        {% csrf_token %}
        <input type="text" class="searchInput shadow p-2" placeholder="Search Courses" aria-label="Serach Courses"
            aria-describedby="searchbtn" name="search-query">
        <button class="btn btn-dark" type="submit" id="searchbtn"><i class="bi bi-search"></i></button>
    </form>
</div>

{% if topcourses|length > 4 %}
<section class="my-5">
    <h1 class="container"><span class="text-golden">Golden</span> Courses</h1>
    <hr class="headingUnderline">
    {% with courses=topcourses %}
    {% with colorclass="goldencolorClass" %}
    {% include 'eduPlatform/courseCardSlider.html' %}
    {% endwith %}
    {% endwith %}
    <div class="d-flex justify-content-center viewAllCourse">
        <a href="{% url 'allMinicourses' %}" class=" py-2 px-3 rounded">View All Courses <i
                class="bi bi-arrow-right"></i></a>
    </div>
</section>
{% endif %}

<section class="my-5">
    <h1 class="container">Package Courses</h1>
    <hr class="headingUnderline">
    {% with courses=fullcourses %}
    {% with colorclass="fullcourseclass" %}
    {% if fullcourses|length > 4 %}
    {% include 'eduPlatform/courseCardSlider.html' %}
    {% else %}
    <h3>No Package course yet</h3>
    {% endif %}
    {% endwith %}
    {% endwith %}
    <div class="d-flex justify-content-center viewAllCourse">
        <a href="{% url 'allFullcourses' %}" class=" py-2 px-3 rounded">View All Courses <i
                class="bi bi-arrow-right"></i></a>
    </div>
</section>

<section id="freeDemoStrip" class="text-center my-5 py-5">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Book a Free Demo
    </button>
</section>

<section class="my-5">
    <h1 class="container">All Courses</h1>
    <hr class="headingUnderline">
    {% with courses=minicourses %}
    {% with colorclass="minicourseclass" %}
    {% include 'eduPlatform/courseCardSlider.html' %}
    {% endwith %}
    {% endwith %}
    <div class="d-flex justify-content-center viewAllCourse">
        <a href="{% url 'allMinicourses' %}" class=" py-2 px-3 rounded">View All Courses <i
                class="bi bi-arrow-right"></i></a>
    </div>
</section>

<!-- <section id="alumniPlaced" class="mt-5 p-0">
    <h1 class="mx-5">Our Alumni Working At..</h1>
    <hr class="headingUnderline">
</section> -->




<section id="studenReview" class="my-5 p-0 mx-5 mx-lg-0">
    <h1 class="mx-0 mx-lg-5">Our Learners</h1>
    <hr class="headingUnderline">
    <div class="d-lg-flex justify-content-around">
        <div class="youtubeReviews my-2 mx-auto">
            <iframe src="https://www.youtube.com/embed/uilkmUoXoLU" title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
        <div class="youtubeReviews my-2 mx-auto">
            <iframe src="https://www.youtube.com/embed/uilkmUoXoLU" title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
        <div class="youtubeReviews my-2 mx-auto">
            <iframe src="https://www.youtube.com/embed/uilkmUoXoLU" title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
    </div>
    <h5 class="mx-lg-5 mx-0 text-center viewAllCourse"><a
            href="https://www.youtube.com/channel/UCTo7bf_v4B1rGCG9GE3MTVg" class="btn btn-outline-warning">
            More Reviews...</a></h5>
</section>


{% endblock %}

{% block scripts %}

<script src="{% static 'eduPlatform/js/goldenCourseCardSlider.js' %}"></script>
<script src="{% static 'eduPlatform/js/fullcourseSlider.js' %}"></script>
<script src="{% static 'eduPlatform/js/minicourseSlider.js' %}"></script>


{% endblock %}
